{% load static %}
<style>
.text-truncate-multiline {
  -webkit-line-clamp: 2;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
</style>
<div class="col-lg-6">
  <div class="position-relative mb-3">
    <img class="img-fluid w-100" src="{% static 'img/news-700x435-1.jpg' %}" style="object-fit: cover;" />
    <div class="bg-white border border-top-0 p-4">
      <div class="mb-2">
        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" href="">{{ news.category }}</a>
        <a class="text-body" href=""><small>{{ news.publish_date }}</small></a>
      </div>
      <a class="h4 d-block mb-3 text-secondary text-truncate-multiline text-uppercase font-weight-bold" href="{% url 'blog' news.slug %}">{{ news.title }}</a>
      {% comment %} <p class="m-0 text-truncate-multiline">{{ news.article|safe }}</p> {% endcomment %}
    </div>
    <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
      <div class="d-flex align-items-center">
        <img class="rounded-circle mr-2" src="{% static 'img/user.jpg' %}" width="25" height="25" alt="" />
        <small>{{ news.author }}</small>
      </div>
      <div class="d-flex align-items-center">
        <small class="ml-3"><i class="far fa-eye mr-2"></i>{{ news.views }}</small>
        <small class="ml-3"><i class="far fa-comment mr-2"></i>{{ news.comments }}</small>
      </div>
    </div>
  </div>
</div>
